"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-material-ui":
    colors:
      abaseColor: "#0433ff"
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "react"
      "goto-definition"
      "background-tips"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "007b6f89-58da-4215-bfdc-ec3f4f2d2005"
  "linter-ui-default":
    showPanel: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Yellow"
  "seti-ui":
    compactView: true
    hideProjectTab: true
  "tree-view":
    hideVcsIgnoredFiles: true
".babel.regexp.source":
  editor:
    autoIndent: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
".editorconfig.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: false
".languagebabel.ttlextension":
  editor:
    autoIndent: false
    tabLength: 2
